.footer {
  background-image: url(https://ik.imagekit.io/ievdkoh2e/online_learning/Group_128_tzAgl1OsH.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1663521922962);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}
