header {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    margin-bottom: 8rem;

    @include respond(xs) {
      flex-direction: column;
      gap: 1.5rem;
      margin-bottom: 6rem;
    }
  }

  .hero-section {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 2rem;
    @include respond(sm) {
      display: flex;
      flex-direction: column;
      gap: 4rem;
    }
    @include respond(xl) {
      grid-auto-columns: 35% 45%;
      justify-content: space-between;
    }
    &__content {
      color: $clr-blue-900;

      @include respond(sm) {
        text-align: center;
      }

      > {
        h1 {
          line-height: 1.2;
          font-size: 2.25rem;
          margin-bottom: 1rem;

          @include respond(md) {
            font-size: 1.9rem;
          }

          @include respond(xs) {
            font-size: 1.3rem;
          }
          span {
            display: block;
            font-size: 3.5rem;

            @include respond(md) {
              font-size: 3rem;
            }
            @include respond(xs) {
              font-size: 2.5rem;
            }
          }
        }

        p {
          font-size: 1.25rem;
          margin-bottom: 2rem;

          @include respond(md) {
            font-size: 1rem;
          }
        }
      }
    }

    &__img {
      > img {
        margin-inline-start: auto;
      }
    }
  }
}
