.online-card {
  border: 2px solid $clr-blue-900;
  padding: 2rem 1rem;
  text-align: center;
  color: $clr-blue-900;
  @extend .rounded;
  transition: all 500ms ease-in-out;
  &__icon {
    font-size: 100px;
    width: fit-content;
    margin: 0 auto 2rem;
  }

  &__title {
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    font-weight: 600;
  }

  &__description {
    font-size: 1rem;
    font-weight: 400;
  }

  // hover effect for online card
  &:hover {
    border: 2px solid $clr-orang-900;
    background-color: $clr-orang-900;
    color: $clr-white-900;
  }
}
