$clr-orang-900: #ff9100;
$clr-orang-800: #d67e09;
$clr-orang-700: #ffb24d;
$clr-white-900: #ffffff;
$clr-white-800: #fbfbfb;
$clr-white-400: #f6f5f1;
$clr-blue-700: #00dbd0;
$clr-blue-900: #374b5c;
